<div class="container">

  <table class="table-bordered">
    <thead>
      <tr>
        <td scope="col" id="B00">{{pieces.tiger}}</td>
        <td scope="col" id="B01">{{pieces.space}}</td>
        <td scope="col" id="B02">{{pieces.space}}</td>
        <td scope="col" id="B03">{{pieces.space}}</td>
        <td scope="col" id="B04">{{pieces.tiger}}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" id="B10">{{pieces.space}}</td>
        <td id="B11">{{pieces.space}}</td>
        <td id="B12">{{pieces.space}}</td>
        <td id="B13">{{pieces.space}}</td>
        <td id="B14">{{pieces.space}}</td>
      </tr>
      <tr>
        <td scope="row" id="B20">{{pieces.space}}</td>
        <td id="B21">{{pieces.space}}</td>
        <td id="B22">{{pieces.space}}</td>
        <td id="B23">{{pieces.space}}</td>
        <td id="B24">{{pieces.space}}</td>
      </tr>
      <tr>
        <td scope="row" id="B30">{{pieces.space}}</td>
        <td id="B31">{{pieces.space}}</td>
        <td id="B32">{{pieces.space}}</td>
        <td id="B33">{{pieces.space}}</td>
        <td id="B34">{{pieces.space}}</td>
      </tr>
      <tr>
        <td scope="row" id="B40">{{pieces.tiger}}</td>
        <td id="B41">{{pieces.space}}</td>
        <td id="B42">{{pieces.space}}</td>
        <td id="B43">{{pieces.space}}</td>
        <td id="B44">{{pieces.tiger}}</td>
      </tr>
    </tbody>
  </table>

</div>